<app-header></app-header>
<main>
  <section class="main-section pad-70 dp-flex-center">
    <div class="headline">
      <span>KIPPER CONSULTORIA</span>
      <h1>A consultoria que você busca para seu software</h1>
    </div>
    <img ngSrc="./assets/principal-img.svg" alt="Duas mulheres tablets na mão" width="669" height="536">
  </section>
  <section class="benefits-section pad-70 dp-flex-center">
    <div class="benefits-data">
      <h2>95% das<br />empresas</h2>
    </div>
    <p>Não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
  </section>
  <section>
    <app-btn-primary class="dp-flex-center" btn-text="Fale com nossos especialistas"></app-btn-primary>
  </section>
  <section class="dp-flex-center">
    <app-newsletter-form></app-newsletter-form>
  </section>
  <section class="main-points">
    <div class="about-team">
      <img ngSrc="./assets/img-2.svg" alt="Dois gomens trabalhando em computadores" width="609" height="588">
      <h3>Equipe Capacitada</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et<br> massa mi. Aliquam in hendrerit urna. Pellentesque
        sit amet<br> sapien fringilla, mattis ligula consectetur.</p>
      </div>
    <div class="about-projects">
      <img ngSrc="./assets/img-3.svg" alt="Mulheres trabalhando e sorrindo" width="609" height="588">
      <h3>Seus Projetos Guiados Do Zero</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et<br> massa mi. Aliquam in hendrerit urna. Pellentesque
        sit amet<br> sapien fringilla, mattis ligula consectetur.</p>
      </div>
  </section>
  <section class="semifinal">
    <h2>Quer elevar seu software e seus<br> negócios para outro nível?</h2>
    <app-btn-primary btn-text="Fale com nossos especialistas"></app-btn-primary>
  </section>
  <section class="contacts pad-70">
    <div class="logo-div">
      <img ngSrc="./assets/logo-icon.svg" alt="Icone da logo aqui" width="165" height="55">
    </div>
    <div class="social-medias">
      <img ngSrc="./assets/face-icon.svg" alt="Logo do instagram aqui" width="50" height="50">
      <img ngSrc="./assets/insta-icon.svg" alt="Logo do facebook aqui" width="50" height="50">
    </div>
  </section>
</main>